{% extends "bboard/default.html" %}

{% block content %}
    <h3>Объявление: {{ advert.header }}</h3>
    <p>{{ advert.content|safe }}</p>

    {% if request.user == advert.author %}
        <a href="{% url 'advert_update' advert.pk %}">Редактировать</a>
        <a href="{% url 'advert_delete' advert.pk %}">Удалить</a>
    {% endif %}

    {% if request.user == advert.author %}
        {% if advert.response_set.all %}
            <p>Отклики</p>
            {% for response in advert.response_set.all %}
                {{ response.sender }} {{ response.date }} {{ response.content }}
                <a href="{% url 'accept_response' response.pk %}">Принять отклик</a>
            {% endfor %}
        {% else %}
            <p>Отклики не найдены</p>
        {% endif %}
    {% endif %}

{% endblock %}